.header{
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.png');
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;
}

.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.header-contents>h2{
    font-weight: 500;
    color: #ffff;
    font-size: max(4.5vw, 22px);
}

.header-contents>p{
    color: white;
    font-size: 1.5vw;
    /* font-weight: bold; */
}

.header-contents>button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    border-radius: 50px;
    background-color: white;
    font-size: max(1vw, 13px);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.header-contents>button:hover{
    background-color: #49557e;
    color: white;
}

@media (max-width: 1050px){
    .header{
        height: 38vw;
    }
    .header-contents{
        max-width: 45%;
        margin-bottom: 30px;
    }
}

@media (max-width: 650px){
    .header{
        height: 38vw;
    }
    .header-contents{
        max-width: 55%;
        margin-bottom: 25px;
    }
    .header-contents p{
        display: none;
    }

    .header-contents button{
        padding: 2vw 4vw;
    }
}

@media (max-width: 450px){
    .header{
        height: 38vw;
    }
    .header-contents{
        max-width: 65%;
        margin-bottom: 25px;
    }
    .header-contents p{
        display: none;
    }

    .header-contents button{
        padding: 1vw 2vw;
    }
}

@media (min-width: 400px) and (max-width: 520px){
    .header{
        width: 114%;
        margin-left: 15px;
    }
}

@media (max-width: 400px){
    .header{
        height: 38vw;
    }
    .header-contents{
        max-width: 85%;
        margin-bottom: 25px;
    }
    .header-contents h2{
        font-size: 18px;
    }
    .header-contents p{
        display: none;
    }

    .header-contents button{
        padding: 1vw 2vw;
    }
}
@media (max-width: 370px){
    .header{
        height: 38vw;
    }
    .header-contents{
        max-width: 85%;
        margin-bottom: 25px;
    }
    .header-contents h2{
        font-size: 18px;
    }
    .header-contents p{
        display: none;
    }

    .header-contents button{
        padding: 1vw 2vw;
    }
}

@media (min-width: 300px) and (max-width: 400px){
    .header{
        width: 340px;
        margin-left: 19px;
    }
}

@media (min-width: 0px) and (max-width: 320px){
    .header-contents h2{
        width: 80%;
    }
}