.food-display{
    margin-top: 30px;
}

.food-display h2{
    font-size: max(2vw, 24px);
    font-weight: 600;
}

.food-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}

@media (min-width: 0px) and (max-width: 400px){
    .food-display{
        margin-left: 13px;
        width: 125%;
    }
    .food-display-list{
        margin-top: -43px;
    }
}

@media (min-width: 401px) and (max-width: 700px){
    .food-display{
        margin-left: 20px;
        width: 100%;
    }
    .food-display-list{
        margin-top: -65px;
    }
}